In [1]:
def fib(n):
    if n==0 or n==1:
        return n
    else:
        return fib(n-1)+fib(n-2)

In [2]:
fib(5)

5

In [3]:
def fib2(n):
    if n==0 or n==1:
        return n
    f=[0,1]
    for i in range(2,n+1):
        f.append(f[i-1]+f[i-2])
    return f[n]

In [5]:
fib2(5)

5

In [6]:
import pandas as pd

In [18]:
df1= {'c1':list(range(1,11))}
df=pd.DataFrame(df1)
df['c2']=df['c1'].apply(fib2)
df['c3']=df.apply(lambda df:df['c1']+df['c2'],axis=1)
df

   c1  c2  c3
0   1   1   2
1   2   1   3
2   3   2   5
3   4   3   7
4   5   5  10
5   6   8  14
6   7  13  20
7   8  21  29
8   9  34  43
9  10  55  65

In [26]:
def fct(l,target):
    for i in range(len(l)):
        for j in range(i+1,len(l)):
            if l[i]+l[j]==target:
                return i,j

In [27]:
fct([1,2,3,3,4,5],6)

(0, 5)

In [21]:
def funct(n):
    
    for i in n :
        s+=int(i)
    return s

In [28]:
def sum_dg(n):
    s=0
    while n>0:
        s+=n%10
        n//=10
    return s

In [29]:
sum_dg(123)

6