In [1]:
import pandas as pd

In [5]:
df=pd.DataFrame()
col=['Nom','Note 1','Note 2']
df=pd.DataFrame(columns=col)
df

Empty DataFrame
Columns: [Nom, Note 1, Note 2]
Index: []

In [79]:
df.loc[0]=['Anass',12,14]
df.loc[1]=['Ali',14,10]
df

     Nom  Note 1  Note 2
0  Anass      12      14
1    Ali      14      10

In [13]:
df.drop(columns=['Nom'])

   Note 1  Note 2
0      12      14
1      14      10

In [46]:
import json

In [50]:
dff=df.to_json(orient='records')
dff

'[{"Nom":"Anass","Note 1":12,"Note 2":14},{"Nom":"Ali","Note 1":14,"Note 2":10}]'

In [14]:
class Somme:
    def somme(self,a,b):
        return a+b
class Produit:
    def produit(self,a,b):
        return a*b
class Division(Somme,Produit):
    def division(self,a,b):
        if b==0:
            return False
        else:
            return a/b

In [21]:
x=Division()
x.division(6,0)

False

In [19]:

x.somme(2,3)

5

In [20]:
x.produit(5,4)

20

In [29]:
class Guitar:
    def type_guitar(self):
        pass
class Acoustic(Guitar):
    def type_guitar(self):
        return "Acoustic"
class Classic(Guitar):
    def type_guitar(self):
        return "Classic"

In [100]:
Y=Acoustic()
Z=Guitar()

In [101]:
Z.type_guitar()

In [34]:
def is_prime(n):
    if n<2:
        return False
    else:
        for i in range(2,n+1):
            if n%i==0:
                return False
            else: 
                return True

In [40]:
is_prime()

False

In [41]:
def sumnb(n):
    s=0
    while n!=0:
        s+=n%10
        n//=10
    return s

In [44]:
sumnb(1278)

18

In [45]:
import requests

In [51]:
def get_api(name,year):
    url="https://jklsjdflk.com"
    data={"name":name,"year":year}

    resp=requests.post(url,json=data)
    if resp.status_code ==  200:
        data = resp.json()
    else:
        return None

In [77]:
def fact(n):
    
    if n==0 or n==1:
        return 1
    
    
    s=1
    for i in range(2,n+1):
        s*=i
    return s

In [78]:
fact(5)

120

In [73]:
def fact2(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact2(n-1)

In [76]:
fact2(5)

120

In [94]:
def sum_digit(n):
    k=0
    while n>0:
        k+=n%10
        n//=10
    return k

In [95]:
sum_digit(2034)

9

In [96]:
import requests

In [97]:
def get_api(name,year):
    url="https://getit.com"
    js={'name':name,'year':year}

    resp=requests.post(url,json=df.to_json(orient='records'))

    if resp.status_code == 200:
        data=dff.json(  )
        return data
    else:
        return "Error 404"

In [99]:
get_api("Anass",2012)

'Error 404'